SERVER_DOMAIN=example.com
PG_USER=authentik
PG_PASS=TEMP_PASSWORD
AUTHENTIK_SECRET_KEY=TEMP_PASSWORD
AUTHENTIK_EMAIL__HOST=localhost
AUTHENTIK_EMAIL__PORT=25
AUTHENTIK_EMAIL__USERNAME=email@your-domain.com
AUTHENTIK_EMAIL__PASSWORD=TEMP_PASSWORD
AUTHENTIK_EMAIL__USE_TLS=false
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__TIMEOUT=10
AUTHENTIK_EMAIL__FROM=authentik@localhost
