SERVER_DOMAIN=example.com
CONTAINER_TZ=ETC/UTC
N8N_LOCALE=LOCALE
N8N_PSQL_USER=n8n
N8N_PSQL_PASS=password
KESTRA_PSQL_USER=kestra
KESTRA_PSQL_PASS=passsword
KESTRA_EMAIL=example@example.com
KESTRA_PASS=password
