CONTAINER_TZ=ETC/UTC
SERVER_DOMAIN=DOMAIN
WEB_ROOT=/
NTFY_WEB_PUSH_PUBLIC_KEY=KEY
NTFY_WEB_PUSH_PRIVATE_KEY=KEY
NTFY_WEB_PUSH_EMAIL_ADDRESS=EMAIL
ATUIN_DB_NAME=atuin
ATUIN_DB_USERNAME=atuin
ATUIN_DB_PASSWORD=really-insecure
ATUIN_APP_REG=true
ATUIN_APP_PATH=false
